<!DOCTYPE html>
<html ng-app="nameGenerator">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="dist/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<title>Name generator v2</title>
</head>
<body ng-controller="AppController">
	<header>
		<section class="title">Name generator v2		
			<section class="new-text">
				New!
			</section>
		</section>
	</header>
	<main class="container" ng-controller="GeneratorController">
		<section class="option">
			<label>
				Długość imienia: {{length}} 
				<br>
				<input type="range" min="6" max="15" step="1" ng-model="length">
			</label>
		</section>
		<section class="option">
			<label>Męskie: <input type="radio" ng-model="gender" value="male"></label>
			<label>Żeńskie: <input type="radio" ng-model="gender" value="female"></label>
		</section>
		<section class="option gen-button-holder">
			<button type="button" ng-click="generateName()" class="gen-button">Generuj!</button>
		</section>
		<section class="option" ng-controller="CopyController">
			<label>Imię: 
			<br>
			<input type="text" ng-model="generatedName" id="name"></label>
			<img src="dist/images/clipboard.svg" alt="copy" class="clipboard" ng-click="copyToClipboard()">
			<div class="copy-me">Skopiuj mnie!&#129149;</div>
		</section>
	</main>
	<footer>
		
	</footer>
	<script src="dist/js/app.js"></script>
</body>
</html>
